.date{
    margin-left: 30%;
    margin-top: 10%;
}
input[type="text"]{
    width: 300px;
    height: 24px;
    font-size: 20px;
}
input[type="number"]{
    width: 300px;
    height: 24px;
    font-size: 20px;
}
input[type="radio"]{
    width: 100px;
    height: 17px;
    font-size: 20px;